:root.theme-anti_hero {
  --bg-color: #00002e;
  --caret-color: #ffffff;
  --main-color: #ffadad;
  --sub-color: #ff3d8b;
  --sub-alt-color: #060548;
  --text-color: #f1deef;
  --error-color: #8fecff;
  --error-extra-color: #558cab;
  --colorful-error-color: #8fecff;
  --colorful-error-extra-color: #558cab;
}
