:root.theme-arch {
  --bg-color: #0c0d11;
  --caret-color: #7ebab5;
  --main-color: #7ebab5;
  --sub-color: #454864;
  --sub-alt-color: #171a25;
  --text-color: #f6f5f5;
  --error-color: #ff4754;
  --error-extra-color: #b02a33;
  --colorful-error-color: #ff4754;
  --colorful-error-extra-color: #b02a33;
}
