:root.theme-beach {
  --bg-color: #ffeead;
  --caret-color: #ffcc5c;
  --main-color: #96ceb4;
  --sub-color: #ffcc5c;
  --sub-alt-color: #f7dc8f;
  --text-color: #5b7869;
  --error-color: #ff6f69;
  --error-extra-color: #ff6f69;
  --colorful-error-color: #ff6f69;
  --colorful-error-extra-color: #ff6f69;
}
