:root.theme-blue_dolphin {
  --bg-color: #003950;
  --caret-color: #00bcd4;
  --main-color: #ffcefb;
  --sub-color: #00e4ff;
  --sub-alt-color: #014961;
  --text-color: #82eaff;
  --error-color: #ffbde6;
  --error-extra-color: #ff8188;
  --colorful-error-color: #d1a5fd;
  --colorful-error-extra-color: #ff8188;
}
