:root.theme-bushido {
  --bg-color: #242933;
  --caret-color: #ec4c56;
  --main-color: #ec4c56;
  --sub-color: #596172;
  --sub-alt-color: #1c222d;
  --text-color: #f6f0e9;
  --error-color: #ec4c56;
  --error-extra-color: #9b333a;
  --colorful-error-color: #ecdc4c;
  --colorful-error-extra-color: #bdb03d;
}
