:root.theme-chaos_theory {
  --bg-color: #141221;
  --caret-color: #dde5ed;
  --main-color: #fd77d7;
  --sub-color: #676e8a;
  --sub-alt-color: #1e1d2f;
  --text-color: #dde5ed;
  --error-color: #fd77d7;
  --error-extra-color: #b03c47;
  --colorful-error-color: #ff5869;
  --colorful-error-extra-color: #b03c47;
}
