:root.theme-copper {
  --bg-color: #442f29;
  --caret-color: #c25c42;
  --main-color: #b46a55;
  --sub-color: #7ebab5;
  --sub-alt-color: #50362e;
  --text-color: #e7e0de;
  --error-color: #a32424;
  --error-extra-color: #ec0909;
  --colorful-error-color: #a32424;
  --colorful-error-extra-color: #ec0909;
}
