:root.theme-cyberspace {
  --bg-color: #181c18;
  --caret-color: #00ce7c;
  --main-color: #00ce7c;
  --sub-color: #9578d3;
  --sub-alt-color: #131613;
  --text-color: #c2fbe1;
  --error-color: #ff5f5f;
  --error-extra-color: #d22a2a;
  --colorful-error-color: #ff5f5f;
  --colorful-error-extra-color: #d22a2a;
}
