:root.theme-dark_note {
  --bg-color: #1f1f1f;
  --caret-color: #e3dce0;
  --main-color: #f2c17b;
  --sub-color: #768f95;
  --sub-alt-color: #141414;
  --text-color: #d2dff4;
  --error-color: #ff0000;
  --error-extra-color: #588498;
  --colorful-error-color: #ff0000;
  --colorful-error-extra-color: #588498;
}
