:root.theme-dark_magic_girl {
  --bg-color: #091f2c;
  --caret-color: #a288d9;
  --main-color: #f5b1cc;
  --sub-color: #93e8d3;
  --sub-alt-color: #071823;
  --text-color: #a288d9;
  --error-color: #e45c96;
  --error-extra-color: #e45c96;
  --colorful-error-color: #00b398;
  --colorful-error-extra-color: #e45c96;
}
