:root.theme-dark {
  --bg-color: #111;
  --caret-color: #eee;
  --main-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #191919;
  --text-color: #eee;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}
