:root.theme-ez_mode {
  --bg-color: #0068c6;
  --caret-color: #4ddb47;
  --main-color: #fa62d5;
  --sub-color: #138bf7;
  --sub-alt-color: #005bac;
  --text-color: #ffffff;
  --error-color: #4ddb47;
  --error-extra-color: #42ba3b;
  --colorful-error-color: #4ddb47;
  --colorful-error-extra-color: #42ba3b;
}
