:root.theme-fleuriste {
  --bg-color: #c6b294;
  --caret-color: #8a785b;
  --main-color: #405a52;
  --sub-color: #64374d;
  --sub-alt-color: #b4a389;
  --text-color: #091914;
  --error-color: #990000;
  --error-extra-color: #8a1414;
  --colorful-error-color: #a63a3a;
  --colorful-error-extra-color: #bd4c4c;
}
