:root.theme-fruit_chew {
  --bg-color: #d6d3d6;
  --caret-color: #b92221;
  --main-color: #5c1e5f;
  --sub-color: #b49cb5;
  --sub-alt-color: #cabfca;
  --text-color: #282528;
  --error-color: #bd2621;
  --error-extra-color: #a62626;
  --colorful-error-color: #bd2621;
  --colorful-error-extra-color: #a62626;
}
