:root.theme-graen {
  --bg-color: #303c36;
  --caret-color: #601420;
  --main-color: #a59682;
  --sub-color: #181d1a;
  --sub-alt-color: #36453c;
  --text-color: #a59682;
  --error-color: #601420;
  --error-extra-color: #5f0715;
  --colorful-error-color: #601420;
  --colorful-error-extra-color: #5f0715;
}
