:root.theme-grape {
  --bg-color: #2c003e;
  --caret-color: #ff8f00;
  --main-color: #ff8f00;
  --sub-color: #6e225e;
  --sub-alt-color: #1f002d;
  --text-color: #fff;
  --error-color: #ff4081;
  --error-extra-color: #bf2054;
  --colorful-error-color: #ff4081;
  --colorful-error-extra-color: #bf2054;
}
