:root.theme-hedge {
  --bg-color: #415e31;
  --caret-color: #f2efbb;
  --main-color: #6a994e;
  --sub-color: #ede5b4;
  --sub-alt-color: #38502a;
  --text-color: #f7f1d6;
  --error-color: #ca3d3f;
  --error-extra-color: #782832;
  --colorful-error-color: #e76f51;
  --colorful-error-extra-color: #f4a261;
}
