:root.theme-honey {
  --bg-color: #f2aa00;
  --caret-color: #795200;
  --main-color: #fff546;
  --sub-color: #a66b00;
  --sub-alt-color: #e19e00;
  --text-color: #f3eecb;
  --error-color: #df3333;
  --error-extra-color: #6d1f1f;
  --colorful-error-color: #df3333;
  --colorful-error-extra-color: #6d1f1f;
}
