:root.theme-incognito {
  --bg-color: #0e0e0e;
  --caret-color: #ff9900;
  --main-color: #ff9900;
  --sub-color: #555555;
  --sub-alt-color: #151515;
  --text-color: #c6c6c6;
  --error-color: #e44545;
  --error-extra-color: #e44545;
  --colorful-error-color: #b13535;
  --colorful-error-extra-color: #b13535;
}
