:root.theme-ishtar {
  --bg-color: #202020;
  --caret-color: #c58940;
  --main-color: #91170c;
  --sub-color: #847869;
  --sub-alt-color: #272727;
  --text-color: #fae1c3;
  --error-color: #bb1e10;
  --error-extra-color: #791717;
  --colorful-error-color: #c5da33;
  --colorful-error-extra-color: #849224;
}
