:root.theme-iv_spade {
  --bg-color: #0c0c0c;
  --caret-color: #bebebe;
  --main-color: #b7976a;
  --sub-color: #404040;
  --sub-alt-color: #121212;
  --text-color: #d3c2c3;
  --error-color: #9d7b7d;
  --error-extra-color: #a78587;
  --colorful-error-color: #b7976a;
  --colorful-error-extra-color: #c1a174;
}
