:root.theme-joker {
  --bg-color: #1a0e25;
  --caret-color: #99de1e;
  --main-color: #99de1e;
  --sub-color: #7554a3;
  --sub-alt-color: #14081f;
  --text-color: #e9e2f5;
  --error-color: #e32b2b;
  --error-extra-color: #a62626;
  --colorful-error-color: #e32b2b;
  --colorful-error-extra-color: #a62626;
}
