:root.theme-leather {
  --bg-color: #a86948;
  --caret-color: #ef6d49;
  --main-color: #ffe4bc;
  --sub-color: #81482b;
  --sub-alt-color: #9a5f3f;
  --text-color: #ffe4bc;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
