:root.theme-lil_dragon {
  --bg-color: #ebe1ef;
  --caret-color: #212b43;
  --main-color: #8a5bd6;
  --sub-color: #a28db8;
  --sub-alt-color: #dac7e2;
  --text-color: #212b43;
  --error-color: #f794ca;
  --error-extra-color: #f279c2;
  --colorful-error-color: #f794ca;
  --colorful-error-extra-color: #f279c2;
}
