:root.theme-matrix {
  --bg-color: #000000;
  --caret-color: #15ff00;
  --main-color: #15ff00;
  --sub-color: #006500;
  --sub-alt-color: #032000;
  --text-color: #d1ffcd;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}
