:root.theme-monokai {
  --bg-color: #272822;
  --caret-color: #66d9ef;
  --main-color: #a6e22e;
  --sub-color: #e6db74;
  --sub-alt-color: #1f201b;
  --text-color: #e2e2dc;
  --error-color: #f92672;
  --error-extra-color: #fd971f;
  --colorful-error-color: #f92672;
  --colorful-error-extra-color: #fd971f;
}
