:root.theme-pale_nimbus {
  --bg-color: #433e4c;
  --caret-color: #9efffd;
  --main-color: #94ffc2;
  --sub-color: #ffaca3;
  --sub-alt-color: #694f5e;
  --text-color: #feffdb;
  --error-color: #ff5c5c;
  --error-extra-color: #ff0000;
  --colorful-error-color: #ff3874;
  --colorful-error-extra-color: #c2386f;
}
