:root.theme-passion_fruit {
  --bg-color: #7c2142;
  --caret-color: #ffffff;
  --main-color: #f4a3b4;
  --sub-color: #9994b8;
  --sub-alt-color: #833c5e;
  --text-color: #ffffff;
  --error-color: #deb80b;
  --error-extra-color: #deb80b;
  --colorful-error-color: #deb80b;
  --colorful-error-extra-color: #deb80b;
}
