:root.theme-pastel {
  --bg-color: #e0b2bd;
  --caret-color: #fbf4b6;
  --main-color: #fbf4b6;
  --sub-color: #b4e9ff;
  --sub-alt-color: #d29fab;
  --text-color: #6d5c6f;
  --error-color: #ff6961;
  --error-extra-color: #c23b22;
  --colorful-error-color: #ff6961;
  --colorful-error-extra-color: #c23b22;
}
