:root.theme-peaches {
  --bg-color: #e0d7c1;
  --caret-color: #dd7a5f;
  --main-color: #dd7a5f;
  --sub-color: #e7b28e;
  --sub-alt-color: #e2caaf;
  --text-color: #5f4c41;
  --error-color: #ff6961;
  --error-extra-color: #c23b22;
  --colorful-error-color: #ff6961;
  --colorful-error-extra-color: #c23b22;
}
