:root.theme-retrocast {
  --bg-color: #07737a;
  --caret-color: #88dbdf;
  --main-color: #88dbdf;
  --sub-color: #f3e03b;
  --sub-alt-color: #26858b;
  --text-color: #ffffff;
  --error-color: #ff585d;
  --error-extra-color: #c04455;
  --colorful-error-color: #ff585d;
  --colorful-error-extra-color: #c04455;
}
