:root.theme-rgb {
  --bg-color: #111;
  --caret-color: #eee;
  --main-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #1a1a1a;
  --text-color: #eee;
  --error-color: #eee;
  --error-extra-color: #b3b3b3;
  --colorful-error-color: #eee;
  --colorful-error-extra-color: #b3b3b3;
}
