:root.theme-rose_pine_dawn {
  --bg-color: #fffaf3;
  --caret-color: #ea9d34;
  --main-color: #56949f;
  --sub-color: #c4a7e7;
  --sub-alt-color: #f0e9df;
  --text-color: #286983;
  --error-color: #b4637a;
  --error-extra-color: #d7827e;
  --colorful-error-color: #b4637a;
  --colorful-error-extra-color: #d7827e;
}
