:root.theme-sewing_tin_light {
  --bg-color: #ffffff;
  --caret-color: #fbdb8c;
  --main-color: #2d2076;
  --sub-color: #385eca;
  --sub-alt-color: #c8cedf;
  --text-color: #2d2076;
  --error-color: #f2ce83;
  --error-extra-color: #f2ce83;
  --colorful-error-color: #f2ce83;
  --colorful-error-extra-color: #f2ce83;
}
