:root.theme-shadow {
  --bg-color: #000;
  --caret-color: #eee;
  --main-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #171717;
  --text-color: #eee;
  --error-color: #fff;
  --error-extra-color: #d8d8d8;
  --colorful-error-color: #fff;
  --colorful-error-extra-color: #d8d8d8;
}
