:root.theme-solarized_dark {
  --bg-color: #002b36;
  --caret-color: #dc322f;
  --main-color: #859900;
  --sub-color: #2aa198;
  --sub-alt-color: #00222b;
  --text-color: #268bd2;
  --error-color: #d33682;
  --error-extra-color: #9b225c;
  --colorful-error-color: #d33682;
  --colorful-error-extra-color: #9b225c;
}
