:root.theme-sunset {
  --bg-color: #211e24;
  --caret-color: #ffca99;
  --main-color: #f79777;
  --sub-color: #5b578e;
  --sub-alt-color: #161319;
  --text-color: #f4e0c9;
  --error-color: #66a1ff;
  --error-extra-color: #376ca4;
  --colorful-error-color: #66a1ff;
  --colorful-error-extra-color: #376ca4;
}
