:root.theme-superuser {
  --bg-color: #262a33;
  --caret-color: #43ffaf;
  --main-color: #43ffaf;
  --sub-color: #526777;
  --sub-alt-color: #1f232c;
  --text-color: #e5f7ef;
  --error-color: #ff5f5f;
  --error-extra-color: #d22a2a;
  --colorful-error-color: #ff5f5f;
  --colorful-error-extra-color: #d22a2a;
}
