:root.theme-terra {
  --bg-color: #0c100e;
  --caret-color: #89c559;
  --main-color: #89c559;
  --sub-color: #436029;
  --sub-alt-color: #0f1d18;
  --text-color: #f0edd1;
  --error-color: #d3ca78;
  --error-extra-color: #89844d;
  --colorful-error-color: #d3ca78;
  --colorful-error-extra-color: #89844d;
}
