:root.theme-tiramisu {
  --bg-color: #cfc6b9;
  --caret-color: #7d5448;
  --main-color: #c0976f;
  --sub-color: #c0976f;
  --sub-alt-color: #d0bca7;
  --text-color: #7d5448;
  --error-color: #e9632d;
  --error-extra-color: #e9632d;
  --colorful-error-color: #e9632d;
  --colorful-error-extra-color: #e9632d;
}
