:root.theme-vaporwave {
  --bg-color: #a4a7ea;
  --caret-color: #28cafe;
  --main-color: #e368da;
  --sub-color: #7c7faf;
  --sub-alt-color: #989bd9;
  --text-color: #f1ebf1;
  --error-color: #573ca9;
  --error-extra-color: #3d2b77;
  --colorful-error-color: #28cafe;
  --colorful-error-extra-color: #25a9ce;
}
