:root.theme-vscode {
  --bg-color: #1e1e1e;
  --caret-color: #569cd6;
  --main-color: #007acc;
  --sub-color: #4d4d4d;
  --sub-alt-color: #191919;
  --text-color: #d4d4d4;
  --error-color: #f44747;
  --error-extra-color: #f44747;
  --colorful-error-color: #f44747;
  --colorful-error-extra-color: #f44747;
}
