:root.theme-watermelon {
  --bg-color: #1f4437;
  --caret-color: #d6686f;
  --main-color: #d6686f;
  --sub-color: #3e7a65;
  --sub-alt-color: #244d3f;
  --text-color: #cdc6bc;
  --error-color: #c82931;
  --error-extra-color: #ac1823;
  --colorful-error-color: #c82931;
  --colorful-error-extra-color: #ac1823;
}
