:root {
	--bg-color: #313131;
	--main-color: #f66e0d;
	--caret-color: #f66e0d;
	--sub-color: #616161;
	--sub-alt-color: #2b2b2b;
	--text-color: #f5e6c8;
	--error-color: #e72d2d;
	--error-extra-color: #7e2a33;
	--colorful-error-color: #e72d2d;
	--colorful-error-extra-color: #7e2a33;

	--navbar-height: 65px;
	--border-size: 5px;
	--border-radius: 5px;
	--info-height: 50px;
}

html {
	overflow-y: auto;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
	color: var(--text-color);
	background: var(--bg-color);
	margin: 0;
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	transition: background 250ms;
}

@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 37px;
}

p {
	font-size: 19px;
}

body>h1,
h2,
h3,
p {
	margin: 0;
}

.primary {
	color: var(--text-color);
}

a,
.link-like {
	color: var(--sub-color);
	text-decoration: none;
}

.link-like {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	padding: 0;
	display: flex;
	align-items: center;
}

a:hover,
.link-like:hover {
	color: var(--text-color);
}

p:has(a) {
	margin-bottom: 0.2em;
}

a .active {
	color: var(--main-color);
}

button {
	font-size: 1rem;
	padding: 0.6em;
	margin: 0.5em 0;
	border-radius: 0.2em;
}

button,
a {
	transition: 150ms;
}

[data-tooltip] {
	position: relative;
	text-decoration: underline;
	z-index: 1000;
}

[data-tooltip]::before {
	max-height: 15px;
	line-height: 15px;
	content: attr(data-tooltip);
	position: absolute;
	display: block;
	background: var(--text-color);
	color: var(--bg-color);
	font-size: 0.5em;
	padding: 0.25em;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transform: translateY(20px);
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-tooltip]:hover::before {
	opacity: 1;
}

.stealth {
	font-size: 16px;
	color: var(--sub-color);
}

.darkstealth {
	font-size: 16px;
	color: var(--text-color);
}

input,
button:not(.link-like) {
	outline: none;
}

input[type='text'],
input[type='password'],
input[type='number'],
select {
	width: 40%;
	margin: 0.5em auto;
	padding: 0.5em;
}

button:not(.link-like) {
	color: var(--text-color);
	background: var(--sub-color);
	outline: none;
	border: none;
}

button:not(.link-like):hover {
	color: var(--sub-alt-color);
	background: var(--text-color);
}

.dark-box {
	background: var(--sub-alt-color) !important;
	color: var(--primary) !important;
}

main {
	margin-top: var(--navbar-height) !important;
}

main>section {
	background: var(--sub-alt-color);
	color: var(--primary);
	padding: 1.5em;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 660px) {
	main>section {
		width: 100%;
	}
}

section {
	margin: 1em 0;
}

.special {
	color: var(--main-color);
}

.danger {
	background: var(--error-extra-color) !important;
}

.danger:hover {
	color: var(--sub-color) !important;
}

.error {
	color: var(--error-color);
}

tr>td:nth-child(2) {
	text-align: left;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--sub-alt-color);
	z-index: 10000;
	width: 60%;
	padding: 1em;
	text-align: center;
	border-radius: 5px;
	bordeR: 0.2em solid var(--bg-color);
}

@media (max-width: 660px) {
	.modal {
		width: 90%;
	}
}

.lucide {
	width: 22px;
}

@media (max-width: 650px) {
	body {
		font-size: 17px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}
}


.gold {
	color: white !important;
	background: linear-gradient(315deg, red, gold) !important;
}

.silver {
	color: white !important;
	background: linear-gradient(315deg, rgb(65, 65, 65), rgb(189, 189, 189)) !important;
}

.bronze {
	color: white !important;
	background: linear-gradient(315deg, brown, rgb(255, 104, 104)) !important;
}